/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* set bg image or color */
.background-img{
  background: url("../img/bg-img/b1.png") center center/cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background-col{
  background-color: #ffe301;
}

.background-col-white{
  background-color: white;
}

/* set gray gradient filter */
.gradient::before {
    content: '';
    background: linear-gradient(
85deg
,rgba(0,0,0,0.3),rgba(0,0,0,0),rgba(0,0,0,0.1));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overflow{
  position:relative;
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Menu bar */
*, ::after, ::before {
    box-sizing: border-box;
}

a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}

.text-white {
	color: #fff!important
}

.hamburger{
  display: none;
}

/* Index page */
.page-index {
  padding:2vw 0vw;
  width: 52%;
  margin-left: auto;
  margin-right: auto;
}

.button-panel{
  padding:.5vw;
}
